.List{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.List >input{
    width: 100%;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid rgb(220, 220, 220);
    padding: 16px;
}
.List >input:focus{
    outline: none;
    border-bottom: 1px solid rgb(37, 147, 225);
}
